.banner {
  height: 65vh;
  // width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  padding: 50px;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.banner-content {
  position: absolute;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 30%;
  background-color: #FFF;
  padding: 30px;
}
